/* reset style */
html, body, div, span,h1, h2, h3, h4, h5, h6, p, a,ul, li{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; }
ol, ul {list-style: none;}
a{text-decoration: none; color:#000;}
 




/* header style */
.logo{width:100%; height:auto; text-align: center; margin:30px 0 0 0;}
.logo img{width:200px; height:auto;}

.login{width:100%; height:auto;}
.login p{position:absolute; right:50px; font-weight: bold;}


.nav{width:100%; height:auto; background:#69b0ff; margin-top:25px;}
.nav .navTit{display:flex; width:100%;height:auto; max-width: 900px; margin:0 auto;}
.nav .navTit li{font-size:20px;  font-weight: bold; width:175px; height:auto; text-align: center;  padding:15px 0;}
.nav .navTit li:hover{background:#005fcc; }
.nav .navTit li a{color:#fff;}

/* body style */
.item{width:100%; height:450px; overflow:hidden; margin-top:10px;}
.item img{width:1910px; height:auto; }

.item .searchBox{  position:absolute; top:400px;  z-index: 999; left:50%; transform:translate(-50%, -50%); }
.item .searchBox input{width:600px; height:40px;}
.item .searchBox input::-webkit-search-cancel-button,
.item .searchBox input::-webkit-search-results-button,
.item .searchBox input::-webkit-search-results-decoration{display:none;}
.item .searchBox button{width:50px; height:40px; position:absolute; right:0px; background:rgba(255, 255, 255, 0); border:0;}
.item .searchBox input::-webkit-search-decoration,
.item .searchBox button i{font-size:20px;}


/* product type section style */
.product{background:#eee; margin-top:40px;}
.center{ padding:50px 0;max-width: 1200px; margin:0 auto;}
.productBox{width:100%; height:auto; display:flex;}

.productBox .boxLeft{width:50%; height:auto; }
.productCon{width:100%; height:288px; display:flex; margin-bottom:20px; border:2px solid #69b0ff;}
.productCon .productImg{width:50%; height:auto; overflow:hidden;  }
.productCon .productImg img{width:auto; height:100%; display : block;margin:auto; }
.productCon .productImg .firstImg{margin-left:-80px;}
.productCon .productTxt{width:50%; height:auto; background:#fff; padding:20px;}
.productCon .productTxt h3{font-size:25px; font-weight: bold; margin:20px 0;}

.boxRight{width:50%; height:auto; border:2px solid #69b0ff; margin-left:30px; overflow:hidden; background:#fff;}
.boxRight .rightImg{width:100%; height:auto;}
.productCon .productTxt{width:50%; height:auto; background:#fff; padding:20px;}
.productCon .productTxt h2{font-size:25px; font-weight: bold; margin:20px 0;}

